* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html, body {
 background: #F1F6F1;
 font-family: Arial, Helvetica, sans-serif;
}

.container {
 margin: 10% auto;
 padding: 2%;
 max-width: 70%;
 min-width: 40%;
 height: 550px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.score, .link{
 margin: 0 auto;
 text-align: center;
 font-size: 13px;
 min-width: 100%;
}

.game { 
 width: 80%;
 height: 70%;
 margin: 5%;
 padding: 5%;
 display: flex;
 flex-wrap: wrap;
 align-items: stretch;
 justify-content: center;
 background-color: white;
 border: 5px outset #7CB181;
 border-radius: 10%;
}

.question { 
 box-sizing: border-box;
 padding: 3%;
 min-width: 60%;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 160%;
 align-self: center;
}

.answers {
 min-width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
}

.answer-button {
 padding: 5%;
 min-width: 60%;
 border: none;
}
