* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

html, body {
 background: #F1F6F1;
}

.container {
 margin: 10% auto;
 padding: 2%;
 max-width: 70%;
 min-width: 40%;
 height: 550px;
 display: flex;
 flex-wrap: wrap;
}

.score, .link{
 margin: 0 auto;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 font-size: 13px;
}

.game { 
 width: 100%;
 height: 80%;
 display: flex;
 flex-wrap: wrap;
 align-items: stretch;
 background-color: white;
 border: 5px outset #7CB181;
}

.question { 
 box-sizing: border-box;
 margin: 0;
 padding: 3%;
 min-width: 100%;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 line-height: 170%;
}

.answers {
 margin: 0 auto;
 min-width: 100%;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: flex-start;
}

.answer-button {
 margin: 2%;
 padding: 3%;
 min-width: 90%;
}