<!DOCTYPE html>
<html lang="en">
 <head></head>
 <body>
  <ul><% cocktails.forEach(function(cocktail){ %></ul>
   <li> <%= cocktail.name %> </li>
 <% }) %>
 <ul><% alcoholList.forEach(function(alcohol){ %></ul>
  <li> <%= alcohol %> </li>
<% }) %>
 </body>
</html>