body{
 box-sizing: border-box;
 margin: 10% 0 0 0;
 padding: 0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.main{
 box-sizing: border-box;
 width: 650px;
 height: 400px;
 margin: 0;
 padding: 0;
 background: linen;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

.mainImg{
 height: 281.25px;
 width: 500px; 
 box-sizing: border-box;
 margin: 40px 0 -20px 0;
 padding: 0;
}

.imgCaption{
 box-sizing: border-box;
 margin: 10px;
 padding: 25px;
 background: tomato;
 height: 50px;
 width: 500px;
 display: flex;
 align-items: center;
 text-align: justify;
 font-family: 'Courier New', Courier, monospace;
 font-size: 14px;
 line-height: 15px;
 color: white;
}

.thumb{
 box-sizing: border-box;
 width: 650px;
 height: 80px;
 margin: -10px 0;
 padding: 70px;
 background: linen;
 display: flex;
 justify-content: space-between;
 align-items: center;
}

.thumbImg{
 box-sizing: border-box;
 border: solid 2px rgb(228, 207, 163);
 width: 60px;
 height: 60px;
}

.rightArrow{
 transform: rotate(180deg);
}