/* exercise 3.1 */
.box{
 width: 400px;
 margin-bottom: 20px;
 display: flex;
}

.container{
 padding: 0;
 margin: 0;
 height: 150px;
 background: tomato;
 flex-grow: 1;
 display: flex;
 align-items: center;
}

.item{
 list-style: none;
 width: 50px;
 height: 50px;
 background: seagreen;
 margin-right: 5px;
}
/* exercise 3.2 */
.box2{
 width: 400px;
 margin-bottom: 20px;
 display: flex;
}

.container2{
 padding: 0;
 margin: 0;
 height: 150px;
 background: teal;
 flex-grow: 1;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.item2{
 list-style: none;
 width: 50px;
 height: 50px;
 background: tan;
}
/* exercise 3.3 */
.box3{
 width: 400px;
 margin-bottom: 20px;
 display: flex;
}

.container3{
 padding: 0;
 margin: 0;
 height: 150px;
 background: palevioletred;
 flex-grow: 1;
 display: flex;
 align-items: flex-end;
 justify-content: flex-end;
}

.item3{
 list-style: none;
 width: 50px;
 height: 50px;
 background: teal;
 margin-left: 5px;
}